/* when 'buyButton' is click has scrolling is smooth going to product div */
html {
   scroll-behavior: smooth;
}

body {
   font-family: 'Lato', sans-serif;
   padding: 0;
   margin: 0;
}

nav {
   padding: 5px 50px;
   color: white;
   background-color: #111;
}

.navTop {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   color: yellow;
   font-size: 30px;
   font-weight: 600;
   font-style: italic;
   border-bottom: 1px solid yellow;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.search {
   display: flex;
   align-items: center;
   background-color: gray;
   padding: 5px;
   border-radius: 10px;
}

.searchInput {
   border: none;
   background-color: transparent;
}

.searchInput::placeholder {
   color: lightgrey;
}

.limitedOffer {
   font-size: 20px;
   cursor: pointer;
   border-bottom: 2px solid green;
}

.magnifyingLens {
   opacity: 0.5;
}

.navBottom {
   display: flex;
   align-items: center;
   justify-content: center;
}

.menuItem {
   margin-right: 50px;
   color: lightgray;
   font-weight: 400;
   cursor: pointer;
}

.slider {
   background: url('https://images.pexels.com/photos/754194/pexels-photo-754194.jpeg?cs=srgb&dl=pexels-dzenina-lukac-754194.jpg&fm=jpg');
   /* hide the scroll bar left-right */
   overflow: hidden;
}

.sliderWrapper {
   display: flex;
   width: 500vw;
   transition: all 1s ease-in-out;
}

.sliderItem {
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.sliderImg {
   width: 500px;
   height: 500px;
   opacity: 0.8;
   /* background-color: transparent; */
}
.sliderTitle {
   position: absolute;
   top: 10%;
   right: 10%;
   color: white;
   text-align: center;
   font-size: 60px;
   font-weight: 900;
   width: 25%;
}

.sliderPrice {
   position: absolute;
   top: 10%;
   left: 10%;
   color: white;
   font-size: 60px;
   font-weight: 300;
   padding: 10px;
   border: 1px solid gray;
   border-radius: 10px;
}

.buyButton {
   position: absolute;
   top: 50%;
   right: 10%;
   color: white;
   font-size: 20px;
   font-weight: 600;
   padding: 10px;
   background-color: black;
   cursor: pointer;
   border: 1px solid gray;
}

.buyButton:hover {
   background-color: white;
   color: black;
}
/* For the Background Cirlce */
/* .sliderItem:nth-child(1) .sliderBg {
   background-color: teal;
}

.sliderItem:nth(2) .sliderBg {
   background-color: brown;
} */

.sliderItem:nth-child(1) .buyButton {
   background-color: yellow;
}

.sliderItem:nth-child(2) .buyButton {
   background-color: green;
}

.sliderItem:nth-child(3) .buyButton {
   background-color: darkblue;
}

.sliderItem:nth-child(4) .buyButton {
   background-color: orange;
}

.sliderItem:nth-child(5) .buyButton {
   background-color: maroon;
}

.features {
   display: flex;
   padding: 50px;
   align-items: center;
   justify-content: space-between;
}

.feature {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}
.featureIcon {
   width: 50px;
   height: 50px;
}

.featureTitle {
   margin: 20px;
   font-size: 20px;
   font-weight: 600;
}

.featureDescription {
   color: gray;
   /* creating a custom width & height so if you add text it will only be contain on given width and height */
   width: 50%;
   height: 100px;
}

.Product {
   background-color: whitesmoke;
   /* product Details will be absolute for position*/
   position: relative;
   height: 100vh;
}

.productImg {
   width: 40%;
}

.productDetails {
   position: absolute;
   top: 10%;
   right: 0;
   width: 40%;
   padding: 50px;
}

.productTitle {
   font-size: 75px;
   font-weight: 600;
}

.productDescription {
   color: gray;
   font-size: 24px;
}

.colors,
.sizes {
   display: flex;
   margin-bottom: 20px;
}

.color {
   width: 32px;
   height: 32px;
   background-color: yellow;
   border-radius: 5px;
   margin-right: 5px;
   cursor: pointer;
}

.color:last-child {
   background-color: darkblue;
}

.size {
   margin-right: 10px;
   border-radius: 5px;
   padding: 5px 20px;
   border: 1px solid black;
   cursor: pointer;
   font-size: 20px;
}

.productButton {
   float: right;
   padding: 10px 20px;
   border: 1px solid black;
   color: white;
   background-color: black;
   cursor: pointer;
   font-size: 24px;
   font-weight: 300;
   border-radius: 10px;
}

.productButton:hover {
   background-color: white;
   color: black;
   transition: all 0.5s ease-in-out;
}

.payment {
   width: 600px;
   height: 550px;
   background-color: white;
   position: absolute;
   /* to center the modal */
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   margin: auto;
   /* to make our model to not appear initially. Only gets triggered when 'productButton' is click */
   display: none;
   flex-direction: column;
   padding: 10px 20px;
   /* Using a Box Shadow CSS Generator site */
   -webkit-box-shadow: 5px 9px 17px 5px rgba(0, 0, 0, 0.57);
   box-shadow: 5px 9px 17px 5px rgba(0, 0, 0, 0.57);
}

.payTitle {
   font-size: 24px;
   color: rgb(77, 77, 77);
   font-weight: 400;
}

label {
   font-weight: 300;
   color: rgb(98, 98, 98);
}

.payInput {
   border: none;
   border-bottom: 1px solid rgb(209, 206, 206);
   padding: 10px;
   margin: 10px;
}

/* .payInput.small {
   width: 10%;
} */
.payInput::placeholder {
   color: rgb(63, 62, 62);
}

.cardIcons {
   display: flex;
}

.cardIcon {
   margin-right: 10px;
}

.cardInfo {
   display: flex;
   justify-content: space-between;
}

.small {
   width: 30%;
}

.payButton {
   position: absolute;
   bottom: -40;
   left: 0;
   background-color: lightgray;
   border: none;
   cursor: pointer;
   height: 40px;
   width: 100%;
   -webkit-box-shadow: 5px 9px 17px 5px rgba(0, 0, 0, 0.57);
   box-shadow: 5px 9px 17px 5px rgba(0, 0, 0, 0.57);
   font-weight: 700;
}

.payButton:hover {
   background-color: rgb(6, 216, 6);
}

.close {
   position: absolute;
   top: 10px;
   right: 10px;
   background-color: lightgray;
   padding: 5px;
   border-radius: 50%;
   cursor: pointer;
   font-weight: 400;
   -webkit-box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.61);
   box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.61);
   /* display: flex;
   align-items: center;
   justify-content: center; */
}

.close:hover {
   background-color: black;
   color: white;
}
footer {
   display: flex;
   background-color: rgb(53, 47, 47);
}
.footerLeft {
   flex: 2;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footerLogo {
   margin: 0px 20px;
}

.footerRight {
   flex: 1;
}
